Host *
User cybozu
IdentityFile mtest_key
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
LogLevel ERROR

Host host1
HostName 10.0.0.11

Host host2
HostName 10.0.0.12

Host node1
HostName 10.0.0.101

Host node2
HostName 10.0.0.102

Host node3
HostName 10.0.0.103

Host node4
HostName 10.0.0.104

Host node5
HostName 10.0.0.105

Host node6
HostName 10.0.0.106
