name: release-tools
on:
  push:
    tags:
      - 'tools-*'
jobs:
  release-cke-tools:
    name: Release CKE tools image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Build CKE tools
        run: |
          cd tools
          make all
      - name: Push cke-tools image to Quay.io
        run: |
          echo ${{ secrets.QUAY_PASSWORD }} | docker login -u ${{ secrets.QUAY_USER }} --password-stdin quay.io
          TAG=quay.io/cybozu/cke-tools:${GITHUB_REF#refs/tags/tools-}
          docker build --no-cache -t $TAG tools
          docker push $TAG
